<h3>{{viewTitle}}</h3>

<form action="/student" method="POST">
    <div class="form-group">
        <label for="">Full Name</label>
        <input type="text" class="form-control" name="fullname">
    </div>

    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" name="email">
    </div>

    <div class="form-group">
        <label for="">Task Description</label>
        <input type="text" class="form-control" name="description">
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
</form>